/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 23 nov 2025, 12:54:17 p.m.
    Author     : pablo
*/
* {
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: row;
}

.contenido-admin {
    margin-left: 50px;       
    padding: 20px;
    width: calc(100% - 240px);
}

.titulo-seccion {
    font-size: 24px;
    margin-bottom: 20px;
    color: #5a3650;
}

.tarjeta-pago {
    background-color: #f9a9cf;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-pago {
    display: flex;
    flex-direction: column;
    width: 18%;
}

.label {
    font-weight: bold;
    font-size: 14px;
    color: #5a3650;
}

.value {
    font-size: 15px;
    margin-top: 3px;
}