@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FDFBF7; 
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: calc(100vh - 80px);
}


.resenas {
    flex: 1; 
    background-color: #FDFBF7; 
    padding: 40px;
}

.resenas h2 {
    color: #4D2108;
    margin-bottom: 30px;
    font-size: 1.8rem;
}


.review-card {
    background-color: #6D5A4F; 
    border-radius: 15px;
    padding: 25px 30px;
    margin-bottom: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    flex-wrap: wrap;
    gap: 20px;
}


.info-group {
    display: flex;
    flex-direction: column;
}

.info-group label {
    font-size: 0.8rem;
    color: #E6DCD5;
    margin-bottom: 4px;
}

.info-group p {
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: 500;
}


.stars {
    color: #FFD700; 
    font-size: 1.2rem;
}


.actions {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.btn-eliminar {
    background-color: #761D1D; 
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
}

.btn-moderar {
    background-color: #3E2723; 
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    border: 1px solid rgba(255,255,255,0.2);
}
.btn-eliminar:hover{
    background-color: #511313; 
    color: white;
    transform: translateY(-2px);
}

.btn-moderar:hover{
    background-color: #331605; 
    color: white;
    transform: translateY(-2px);
}

.card-body {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    min-height: 100px;
    color: #333;
    font-size: 0.95rem;
    line-height: 1.5;
}