* {
    font-family: 'Poppins', sans-serif;
}
body{
       

}
main {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
}
h2{
    color: #4D2108;
}
.resenas {
   background-color: #FFDDF6;
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.principal {
    display: flex;
    flex-flow: column;
    background-color: #82614E;
    border-radius: 10px;
    margin: 10px;

    width: 100%;        
    max-width: 1200px;   
    align-items: center;
    
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.datosResena {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}

.datosProducto {
    display: flex;
    flex-flow: column;
    font-size: 20px;
    padding: 20px;
}

.botones {
    display: flex;
    flex-flow: row;
}

.eliminar, .moderar {
    height: 48px;
    width: 100px;
    border-radius: 10px;
    transition: all 0.3s ease;
    color: #EBEEF4;
    font-size: 20px;
    border: none;
    margin: 5px;
}

.eliminar {
    background-color: #761D1D;
}
.eliminar:hover {
    background-color: #EBEEF4;
    color: #761D1D;
}

.moderar {
    background-color: #4D2108;
}
.moderar:hover {
    background-color: #EBEEF4;
    color: #4D2108;
}

textArea {
    border-color: #FFDDF6;
    height: 150px;
    border-radius: 10px;
    color: #4D2108;
    font-size: 16px;
    width:100%;
    border-radius: 10px;
    resize: none;
}

label, p {
    color: #FFFFFF;
}


@media (max-width: 900px) {
    .datosProducto {
        font-size: 18px;
        padding: 15px;
    }

    textarea {
        max-width: 700px;
    }
}


@media (max-width: 600px) {

    main {
        flex-flow: column;
    }

    .datosProducto {
        font-size: 16px;
        padding: 10px;
        width: 100%;
        text-align: center;
    }

    textarea {
        height: 120px;
        max-width: 100%;
        font-size: 14px;
    }

    .eliminar, .moderar {
        width: 80px;
        height: 40px;
        font-size: 16px;
    }
}
