
/* 
    Created on : 22 nov 2025, 7:42:26 p.m.
    Author     : victoria
*/

* {
    font-family: 'Poppins', sans-serif;
}

main{
    display: flex;
    width: 100%;
}

.sideMenu {
    background-color: #FFB9EC;
    display: flex;
    flex-direction: column;
    width: 25%;
    
    height: 100vh;
    position: sticky;
    top: 0; 
    flex-shrink: 0;
}

.menuItem {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFB9EC;
    padding: 20px;
    height: 8vh;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menuOption {
    color: #CA5790;
    font-size: 20px;
    transition: color 0.3s ease;
}

.menuItem:hover {
    background-color: #FFF0FB;
}

.menuItem:hover .menuOption {
    color: #4D2108;
}

/*esconde el menu aside  */
@media (max-width: 768px) {
    .sideMenu {
        display: none;
    }
}
